table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table td, th {
    border: 1px solid #ddd;
    padding: 0.5em;
}

table th {
    background: #04AA6D;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;;
}

table tr:hover {
    background: #ddd;
    cursor: pointer;
}
